@import "./vars.css";
.App {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 50px;
}
html, body {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
  }
